---
import * as spotifyInterfaces from '../spotify/interfaces.ts';

interface Props {
    session: any;
    type: spotifyInterfaces.SpotifyItemType;
    timeRange: spotifyInterfaces.SpotifyTimeRange;
}

const { session, type, timeRange } = Astro.props;

import TimeRangeButtons from '../components/TimeRangeButtons.astro';
import ItemGrid from '../components/ItemGrid.astro';
---

<div class="text-center p-10">
    <h1 class="text-4xl font-bold">Top {type}: <span class="text-gray-300">{session.user.name}</span></h1>
</div>

<div class="w-full flex justify-center px-10">
    <TimeRangeButtons type={type} timeRange={timeRange} />
</div>

<ItemGrid session={session} type={type} timeRange={timeRange} />
